@inherits LayoutComponentBase
<div class="page vh-100">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="content px-4 h-100 d-flex flex-column justify-content-around">
        @Body
    </main>
</div>
