@using archipelago_web_app.Models
@inject ArchipelagoSession Session

<EditForm Model="Model" OnSubmit="Submit" FormName="Connection" class="d-flex flex-column align-items-center justify-content-center flex-grow-1 gap-3">
    <label class="w-50">
        Host and Port:
        <InputText @bind-Value="Model!.HostAndPort" class="form-control"/>
    </label>
    <label class="w-50">
        Player Name:
        <InputText @bind-Value="Model!.PlayerName" class="form-control"/>
    </label>
    <label class="w-50">
        Password:
        <InputText type="password" @bind-Value="Model!.Password" class="form-control"/>
    </label>
    <input type="submit" value="Login & Connect" />
</EditForm>

<LoadingSpinner Visible="@LoadingSpinnerVisible" />


@code {
    [SupplyParameterFromForm]
    private ConnectFormData? Model { get; set; }

    private Boolean LoadingSpinnerVisible { get; set; } = false;

    protected override void OnInitialized() => Model ??= new();

    private async Task Submit() {
        if (Model != null) {
            try {
                LoadingSpinnerVisible = true;
                await Session.NewSession(Model.HostAndPort);
                
            }
            catch (Exception e) {
                var a = e;
            }
            finally {
                LoadingSpinnerVisible = false;
            }
        }
    }
}