@using archipelago_web_app.Models
@inject ArchipelagoSession Session

<h1 class="text-center py-3">
    Connected as @Session.ConnectionData?.players.FirstOrDefault(p => p.slot == Session.ConnectionData?.slot).name
</h1>

<div class="d-flex flex-column align-items-center  flex-grow-1 gap-3">
    <label class="w-100 d-inline-flex gap-3 align-items-center">
        Search:
        <InputText @bind-Value="SearchText" class="w-100"/>
    </label>
    <ul class="list-group w-100">
        <li class="list-group-item list-group-item-action">Hi</li>
        <li class="list-group-item list-group-item-action">There</li>
        <li class="list-group-item list-group-item-action">World</li>
        <li class="list-group-item list-group-item-action">!</li>
    </ul>
</div>

@code {
    private string SearchText { get; set; } = "";
}
